option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGO_URL: mongodb://chris:drifterdb123@ds215709.mlab.com:15709/drifterdev
    JWT_SECRET: ce22a36f9a266139e6c9bec097b874b253687f616787e8ce1ccd8b978ffd7acc
    FOREST_ENV_SECRET: 0576d201b1e56c2ee44d620496f32fdc0becf9cf1fa654dfb335593dc778d540
    FOREST_AUTH_SECRET: 2ay3DPkw4Omdj1cDqPcEJiOB0pHGCNbL
    AWS_ACCESS_KEY_ID: AKIAINKTFR4G4TTTEAJA
    AWS_SECRET_ACCESS_KEY: 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
