option_settings:
  aws:elasticbeanstalk:application:environment:
    MONGO_URL: mongodb://chris:drifterdb123@ds215709.mlab.com:15709/drifterdev
    JWT_SECRET: ce22a36f9a266139e6c9bec097b874b253687f616787e8ce1ccd8b978ffd7acc
    FOREST_ENV_SECRET: 21c376a088e53de82d5636bfd805581a8a302e30a353aee7b0e814ee5b18033c
    FOREST_AUTH_SECRET: 2o9BehluH9fseopD55lmKP7CaIfHybf5
    AWS_ACCESS_KEY_ID: AKIAINKTFR4G4TTTEAJA
    AWS_SECRET_ACCESS_KEY: 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
